/***********************************************/
/* jhub_m1 - CSS Style Sheet                   */
/***********************************************/
.container {
    padding: 1rem;
}
.veh_input {
    display: block;
}
#tablePers {
    visibility: visable;
}