/***********************************************/
/* jhub_m1 - CSS Style Sheet                   */
/***********************************************/

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: #CFD2BF;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

h5 {
    text-align: center;
    font-size: 12pt;
    font-weight: normal;
}

/* classes */
.nav {
    overflow: hidden;
    background-color: #A3A78F;
    margin-top: -5px;
}

.nav a {
    float: right;
    color: black;
    text-align: center;
    text-decoration: none;
    width: 200px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 9px;
}

.nav a:hover {
    background: #CFD2BF;
}

.nav a.active {
    background: #CFD2BF;
}
.nav 

/* id's */

.nav #nav_title {
    color: black;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    padding: 20px 9px;
}

